/* Fonts Styling */
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Ubuntu+Condensed&display=swap");

/* General Styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Old Standard TT", serif;
  margin: 0;
}

#page-wrapper {
  position: relative;
}

/** header */
header {
  padding: 20px 0;
  background: whites;
  box-shadow: 0 4px 6px #f42c40;
}

.container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

.logo-box {
  float: left;
  margin-right: 20px;
}
.logo-box a {
  outline: none;
  display: block;
}

.logo-box img {
  display: block;
}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

@media screen and (max-width: 660px) {
  header {
    text-align: center;
  }
  .logo-box {
    float: none;

    margin: 0 0 16px 0;
  }
  ul {
    float: none;
  }
  nav li:first-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  nav {
    overflow: visible;
  }
  nav li {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  nav li:hover {
    background: #f42c40;
  }
  nav a:after {
    content: none;
  }
}

/* nav */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Old Standard TT", serif;
  color: #511202;
}

h1 {
  margin-top: 110px;
  font-size: 2.5em;
  text-align: center;
  font-family: "Old Standard TT", serif;
}

nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  background: white;
}

nav h2 {
  display: inline;
}

.menu {
  position: relative;
  margin-top: 6px;
  float: right;
  list-style-type: none;
  transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85);
}

.menu li {
  display: inline;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Old Standard TT", serif;
}

.menu li::before {
  position: absolute;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 0;
  background: #f42c40;
  transition: 0.5s;
}

.menu li:hover::before {
  width: 49px;
}

.menu li:nth-child(3):hover::before {
  width: 63px;
}

p {
  font-size: 20px;
  font-family: "Old Standard TT", serif;
}

.first-letter {
  float: left;
  padding-right: 10px;
  font-size: 80px;
  line-height: 0.9;
  color: #511202;
  font-family: "Old Standard TT", serif;
}
.nav-link {
  font-family: "Old Standard TT", serif;
  color: #511202;
  text-decoration: none;
}
.nav-link:hover {
  font-family: "Old Standard TT", serif;
  color: #511202;
  text-decoration: none;
}
.nav-link:visited {
  font-family: "Old Standard TT", serif;
  color: #511202;
  text-decoration: none;
}

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav label {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background: #f42c40;
  cursor: pointer;
  z-index: 1;
}

nav > label > span {
  display: block;
  margin: 4px auto;
  height: 4px;
  width: 25px;
  border-radius: 1px;
  background: #511202;
  transition: 0.5s;
  font-family: "Old Standard TT", serif;
}

nav > label > span:nth-child(1) {
  margin-top: 25px;
}

input[type="checkbox"]:checked ~ .menu {
  top: 0;
}

input[type="checkbox"]:checked ~ label span {
  background: rgb(255, 255, 255);
}

input[type="checkbox"]:checked ~ label span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

input[type="checkbox"]:checked ~ label span:nth-child(2) {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #f42c40;
  }

  .menu li {
    margin: 20px;
    font-size: 1.5em;
    color: #f42c40;
  }

  nav label {
    display: block;
  }
}

/* Header Styling */

.logo {
  align-items: center;
  width: 200px;
  height: 100%;
  text-align: center; /* trying to center the logo but doesnt work*/
}

header a:hover {
  cursor: pointer;
}

/* header image (logo img) */

#header-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

/** Footer Styiling */

.footer {
  background: #f42c40;
  color: var(--clr-accent);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: whitesmoke;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
  font-family: "Old Standard TT", serif;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.social-icons {
  border: 1px solid white;
  display: inline;
  float: right;
  margin-top: 1rem;
}

.fa {
  padding: 0.5rem;
  color: black;
}

.fa:hover {
  color: black;
}
